version: "3.8"

services:
  mc-spigot:
    image: "itzg/minecraft-server:2022.10.1"
    container_name: "mc-spigot"
    tty: true
    stdin_open: true
    ports:
      - "19132:19132/udp"
      - "19133:19133/udp"
      - "25565:25565/tcp"
      - "25575:25575/tcp"
    environment:
      # server.properties
      ALLOW_FLIGHT: "false"
      ALLOW_NETHER: "true"
      ANNOUNCE_PLAYER_ACHIEVEMENTS: "true"
      BROADCAST_CONSOLE_TO_OPS: "true"
      BROADCAST_RCON_TO_OPS: "true"
      DEBUG: "false"
      DIFFICULTY: "easy"
      ENABLE_COMMAND_BLOCK: "true"
      ENABLE_JMX: "false"
      ENABLE_RCON: "true"
      ENABLE_STATUS: "true"
      ENFORCE_SECURE_PROFILE: "false"
      ENFORCE_WHITELIST: "true"
      FORCE_GAMEMODE: "true"
      FUNCTION_PERMISSION_LEVEL: 2
      GENERATE_STRUCTURES: "true"
      HARDCORE: "false"
      LEVEL_NAME: "world"
      LEVEL_TYPE: "DEFAULT"
      MAX_PLAYERS: 15
      MODE: "survival"
      ONLINE_MODE: "true"
      OP_PERMISSION_LEVEL: 4
      PREVIEWS_CHAT: "true"
      PVP: "false"
      RCON_PASSWORD: "${RCON_PASSWORD}"
      RCON_PORT: 25575
      SERVER_NAME: "mabubu0203 server"
      SERVER_PORT: 25565
      SIMULATION_DISTANCE: 12
      SNOOPER_ENABLED: "false"
      SPAWN_ANIMALS: "true"
      SPAWN_MONSTERS: "true"
      SPAWN_NPCS: "true"
      SPAWN_PROTECTION: 0
      USE_NATIVE_TRANSPORT: "true"
      VIEW_DISTANCE: 12
      WHITELIST: "${WHITELIST}"
      # other
      ENABLE_WHITELIST: "TRUE"
      EULA: "TRUE"
      MAX_MEMORY: "3G"
      MEMORY: "2G"
      MODS_FILE: "/extras/mods.txt"
      OVERRIDE_SERVER_PROPERTIES: "true"
      REMOVE_OLD_MODS: "TRUE"
      REMOVE_OLD_MODS_DEPTH: 1
      REMOVE_OLD_MODS_INCLUDE: "*.jar"
      TYPE: "SPIGOT"
      TZ: "Asia/Tokyo"
      VERSION: "1.19"
    volumes:
      - "./data:/data"
      - "./mods.txt:/extras/mods.txt:ro"
    restart: unless-stopped

  # Backup
  backup:
    image: "itzg/mc-backup:latest"
    environment:
      RCON_PASSWORD: "${RCON_PASSWORD}"
      RCON_PORT: 25575
      SERVER_PORT: 25565
      TZ: "Asia/Tokyo"
    depends_on:
    - mc-spigot
    volumes:
      - "./data:/data:ro"
      - "./mc-backups:/backups"
    network_mode: "service:mc-spigot"